GEMINI_API_KEY=
MONGODB_URI=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
JINA_API_KEY=
TINYFISH_API_KEY=
GITHUB_TOKEN=
NEXT_PUBLIC_VAPI_ASSISTANT_ID=
NEXT_PUBLIC_VAPI_PUBLIC_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
